.text {
  color: white;
  font-size: 50px;
}

.secret-friend-name {
  background-color: #350e47;
  color: white;
  height: 91px;
  font-size: 60px;
  border-radius: 144px;
  text-align: center;
  margin: 0 auto;
  margin-top: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #350e47;
  color: white;
  height: 40px;
  width:120px;
  font-size: 30px;
  border-radius: 144px;
  text-align: center;
  margin: 0 auto;
  margin-top: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}